html, body {
	height: 100vh;
	width: 100vw;
}

body {
	margin: 0;
	
}

#header {
background-color: green;
height: 10vh;
width: 100vw;
}

#header img {
	height: 10vh; /* Must specificy height and width for cover to work */
	width: 100vw;
	object-fit: cover;
}
